body {
    height: auto;
    width: auto;
}

.page-view {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

.list {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 97%;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .0rem;
}

.text-title {
    margin-left: 20px;
    font-size: 20px;
}

.search-content {
    margin-left: 20px;
    margin-right: 20px;
    width: 97%;
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .0rem;
}

.content-name {
    width: 20%;
    position: relative;
    display: block;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em;
}

.page-list ul,
.page-list li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
}

.breadcrumb-detail {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    height: 30px;
}

.breadcrumb-label {
    margin-top: -5px;
    font-size: 10px;
    margin-bottom: -5px;
}

.page-header {
    height: 50px;
}

.row-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.row-header h1 {
    font-size: 20px;
}

.body-detail {
    background-color: #F5F5F5;
    width: 100%;
    position: absolute;
}

.body-left {
    width: 25%;
    left: 0;
}

.detail-photo {
    width: 250px;
    height: 200px;
    border: 2px solid rgba(0, 0, 0, .125);
    background-color: #ffffff;
    margin-left: 50px;
}

.information {
    margin-top: 50px;
    margin-left: 25px;
}

.information-text {
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, .125);
}

.information-content {
    margin-top: 15px;
    margin-bottom: 15px;
}

.information-contains {
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
}

.body-right {
    width: 75%;
    right: 0;
}

.page-title {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
}

.body-content {
    margin-top: 20px;
}

.tab-content {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab-content button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab-content button:hover {
    background-color: #ddd;
}

.tab-content button.active {
    background-color: #ccc;
}

.tab-content-detail {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}