.footer-style {
    width: 100%;
    margin-top: auto;
    bottom: 0;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 50px; /* Vertically center the text there */
    background-color: #2e353d;
  }

.footer-style span{
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}